@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.aboutMeMain {
    padding: 10rem 0 10rem 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;

    .aboutMeContent {
        width: 40%;

        h2 {
            margin-bottom: 2rem;
        }

        div {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            p {
                width: 80%;
            }

            img {
                object-fit: contain;
                padding: 3rem;
                height: 3rem;
                width: 3rem;
            }
        }

    }

    .aboutMeImg {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 30rem;
        }

        .bar {
            height: 0.2rem;
            width: 15vw;
            background-color: $bar_2;
        }
    }

    .bg1 {
        position: absolute;
        top: -12rem;
        right: 0;
    }
}