<div class="aboutMeMain">


    <div class="aboutMeContent">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laborum dolor a accusantium exercitationem
            sapiente
            iure soluta laboriosam tempora sed maiores, ipsum temporibus quod quibusdam rem, voluptatum explicabo
            nesciunt
            animi.</p>
        <img src="./../../../assets/img/lamp.png">
        <img src="./../../../assets/img/puzzle.png">
        <div>

        </div>
    </div>

    <div class="aboutMeImg">
        <div class="borderImg">
            <div class="profileImg">
                <img src="./../../../assets/img/profile_pic2.png">
            </div>

        </div>
        <div class="bar"></div>
    </div>


</div>