<div class="aboutMeMain">
    <div class="aboutMeContent">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laborum dolor a accusantium exercitationem
            sapiente
            iure soluta laboriosam tempora sed maiores, ipsum temporibus quod quibusdam rem, voluptatum explicabo
            nesciunt
            animi.</p>
        <div>
            <img src="./../../../assets/img/lamp.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit soluta amet
                perspiciatis repellendus. A, tenetur, natus necessitatibus suscipit asperiores, cum voluptatem
                voluptatibus molestiae harum earum quisquam similique quas atque?</p>
        </div>
        <div>
            <img src="./../../../assets/img/puzzle.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates reprehenderit soluta amet
                perspiciatis repellendus. A, tenetur, natus necessitatibus suscipit asperiores, cum voluptatem
                voluptatibus molestiae harum earum quisquam similique quas atque?</p>
        </div>
    </div>

    <div class="aboutMeImg">
        <img src="./../../../assets/img/profile_pic2.png">
        <div class="bar"></div>
    </div>

    <img class="bg1" src="./../../../assets/img/bg-1.svg">



</div>