<div appInView id="myProjects" class="myProjectsMain">
    <div class="headline">
        <div class="bar"></div>
        <div>
            <h2>My projects</h2>
            <span>This page is a sample of my work - please feel free to try then out</span>
        </div>
    </div>

    <div class="projectMain mediaRotate">
        <div class="projectContent">
            <h5>Slack Clone</h5>
            <span>Angular | TypeScript | SCSS | Firebase</span>
            <p>Slack Clone is a business platform for collaboration and communication through messages and files.</p>
            <div class="projectButtons">
                <div>
                    <a href="https://slack.kevin-schimke.de/login" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="https://github.com/KevinSchimke/SlackClone" class="button-3">Github</a>
                </div>
            </div>
        </div>
        <img src="./../../../assets/img/Slack.svg">
    </div>

    <div class="projectMain">
        <img src="./../../../assets/img/Join.svg">
        <div class="projectContent">
            <h5>Join</h5>
            <span>JavaScript | CSS | HTML</span>
            <p>JOIN inspired by the popular Kanban System a Web App, for project- and personal management. It implements
                drag and drop lists. Try it out!</p>
            <div class="projectButtons">
                <div>
                    <a href="https://join.kevin-schimke.de/board.html" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="https://github.com/KevinSchimke/Gruppenarbeit-Join" class="button-3">Github</a>
                </div>
            </div>
        </div>
    </div>

    <div class="projectMain mediaRotate">
        <div class="projectContent">
            <h5>Pokedex</h5>
            <span> API | JavaScript | CSS | HTML</span>
            <p>The legendary pokedex. I learned how to work with an API.</p>
            <div class="projectButtons">
                <div>
                    <a href="https://pokemon.kevin-schimke.de/" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="https://github.com/KevinSchimke/Pokedex" class="button-3">Github</a>
                </div>
            </div>
        </div>
        <img src="./../../../assets/img/Pokemon.svg">
    </div>

    <div class="projectMain">
        <img src="./../../../assets/img/Portfolio.svg">
        <div class="projectContent">
            <h5>Portfolio</h5>
            <span>Angular | TypeScript | SCSS </span>
            <p>My personal Portfolio was my first angular project. While working on other projects, this project grew
                and was constantly improved.</p>
            <div class="projectButtons">
                <div>
                    <a href="https://kevin-schimke.de/" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="https://github.com/KevinSchimke/Portfolio_V2" class="button-3">Github</a>
                </div>
            </div>
        </div>
    </div>
    <img class="bg1" src="./../../../assets/img/bg-3.svg">
</div>