@import "./../../../../generalSCSS/colors.scss";
@import "./../../../../generalSCSS/mixin.scss";
@import "./../../../../styles.scss";

.myProjectsMain {
    position: relative;

    .headline {
        position: relative;
        @include containerPosition(unset, center);

        .bar {
            height: 0.2rem;
            width: 15vw;
            margin-right: 2.5rem;
            background-color: $bar_1;
        }
    }

    .projectMain {
        @include containerPosition(space-evenly, center);
        margin: 10rem 5rem;

        img {
            @include image(cover, 300px);
            z-index: 1;
        }

        .projectContent {
            width: 500px;
            z-index: 1;

            span {
                z-index: 1;
                color: $fontcolor-sub;
                font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
            }

            .projectButtons {
                display: flex;
                z-index: 1;

                div {
                    display: flex;

                    &:first-child {
                        margin-right: 5rem;
                    }
                }
            }
        }
    }

    .bg1 {
        @include positionAbsolute(20rem, 0, unset, unset);
        transform: scaleX(-1);
        z-index: 0;
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 1100px) {
    .projectMain {
        flex-direction: column !important;
    }

    .mediaRotate {
        flex-direction: column-reverse !important;
    }

    .projectMain img {
        margin-bottom: 2rem;
    }

    .projectContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 850px) {
    .projectMain img {
        height: auto !important;
        width: 50vw !important;
    }
}

@media (max-width: 650px) {
    .projectContent {
        width: unset !important;
    }

    .projectMain {
        margin: 2.5rem 1rem !important;
    }
}