<div class="mySkillsMain">
    <div class="skillIcons">
        <img src="./../../../assets/img/angular.svg">
        <img src="./../../../assets/img/typescript.svg">
        <img src="./../../../assets/img/javascript.svg">
        <img src="./../../../assets/img/html.svg">
        <img src="./../../../assets/img/css.svg">
        <img src="./../../../assets/img/git.svg">
        <img src="./../../../assets/img/firebase.svg">
        <img src="./../../../assets/img/api.svg">
        <img src="./../../../assets/img/scrum.svg">
    </div>
    <div class="mySkillsRight">
        <div class="headline">
            <h2>My skills</h2>
            <span>I have grown my frontend developments skills that have allowed me to create different real
                projects</span>
            <div class="contactButton">
                <a href="#" class="button-1">Get in touch</a>
            </div>
        </div>
        <div class="bar"></div>
    </div>
</div>