@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.mySkillsMain {
    display: flex;
    justify-content: space-between;
    padding: 0 0 5rem 5rem;

    .skillIcons {
        flex-wrap: wrap;
        width: 50%;

        img {
            margin: 2rem 3rem 2rem 3rem;
        }

    }

    .mySkillsRight {
        display: flex;
        align-items: center;
        text-align: end;
        width: 40%;

        .contactButton {
            @include containerPosition(flex-end);
        }

        .bar {
            height: 0.2rem;
            width: 15vw;
            margin-left: 2.5rem;
            background-color: $bar_1;
        }
    }






}