@import "./../../../../generalSCSS/colors.scss";
@import "./../../../../generalSCSS/mixin.scss";
@import "./../../../../styles.scss";

.contactMain {
    position: relative;

    .headline {
        position: relative;
        @include containerPosition(flex-end, center);

        .bar {
            height: 0.2rem;
            width: 10vw;
            margin-left: 2.5rem;
            background-color: $bar_1;
        }
    }

    .contactSub {
        @include containerPosition(space-evenly);
        padding: 10rem 5rem;

        .contactText {
            padding-right: 2rem;
            width: 30vw;
            z-index: 1;

            h4 {
                color: $fontcolor-main;
                margin-bottom: 1.5rem;
                z-index: 1;
            }

            p {
                margin-bottom: 1rem;
                z-index: 1;
            }
        }

        form {
            @include containerPosition(unset, center, column);
            z-index: 1;

            .formElement {
                margin-bottom: 1.2rem;
                width: 30vw;

                input {
                    border-radius: 5px;
                    padding: 0.5rem;
                    font-size: 1rem;
                    width: 100%;
                }

                span {
                    position: absolute;
                    top: 0;
                    margin-bottom: 10rem;
                }

                textarea {
                    height: 200px;
                    border-radius: 5px;
                    padding: 0.5rem;
                    resize: none;
                    font-size: 1rem;
                    width: 100%;
                }

                .error {
                    border: 2px solid $bordercolor-warn;
                }

                .success {
                    border: 2px solid $bordercolor-success;
                }

                .errorMessage {
                    position: relative;

                    .visible {
                        color: $fontcolor-warn;
                    }

                    .hidden {
                        color: transparent;
                    }
                }
            }
        }
    }

    .bg1 {
        @include positionAbsolute(-40rem, unset, unset, 0);
        transform: scaleX(-1);
        z-index: 0;
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 1100px) {
    .contactSub {
        flex-direction: column !important;
        align-items: center !important;
        padding: 5rem !important;
    }

    .contactText {
        width: 75% !important;
        padding-right: unset !important;
        text-align: center;
        margin-bottom: 1rem;
    }

    form {
        width: 100% !important;
    }

    .formElement {
        width: 100% !important;
    }
}

@media (max-width: 650px) {
    .bg1 {
        top: -15rem !important;
    }
}

@media (max-width: 600px) {
    form input {
        font-size: 0.75rem;
    }

    form textarea {
        height: 100px !important;
        font-size: 0.75rem;
    }
}

@media (max-width: 400px) {
    .contactSub {
        padding: 1rem !important;
    }

    .contactText {
        width: auto !important;
    }

    form {
        width: auto !important;
    }
}