$background-main: #141D2F;

$background-button_1: #FA7902;
$background-button-hover_1: #FF4747;
$fontcolor-button_1: #FEEFE0;
$bordercolor-button-1: transparent;

$background-button_2: #FF4747;
$background-button-hover_2: #FA7902;
$fontcolor-button_2: #FFD1D1;
$bordercolor-button-2: transparent;

$background-button_3: transparent;
$background-button-hover_3: #FA7902;
$fontcolor-button_3: #fff;
$bordercolor-button-3: #FA7902;

$fontcolor-main: #fff;
$fontcolor-sub: #FA7902;

$fontcolor-h1: #fff;
$fontcolor-h2: #fff;
$fontcolor-h3: #FF4747;
$fontcolor-h4: #FF4747;

$bar_1: #FF4747;
$bar_2: #FA7902;

$fontcolor-link: #fff;
$fontcolor-link-hover: #FA7902;