<div appInView id="footer" class="footerMain">
    <div class="footerLegal">
        <h4>Kevin Schimke</h4>
        <a href="#imprint">Imprint</a>
        <a href="#dataProtection">Data-Protection</a>
    </div>
    <div><span>© Kevin Schimke 2022</span></div>
    <div>
        <a href="https://github.com/KevinSchimke"><img src="./../../../assets/img/github.png"></a>
        <a href="https://www.linkedin.com/in/kevin-schimke-b396a8233/"><img
                src="./../../../assets/img/linkedin.png"></a>
        <a href="mailto:kontakt@kevin-schimke.de"><img src="./../../../assets/img/mail.png"></a>
    </div>
</div>