@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.footerMain {
    height: 300px;
    border-top: 5px solid $bordercolor-footer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footerLegal {
        display: flex;
        flex-direction: column;

        h4 {
            font-size: 2rem;
        }

    }

    a {
        margin-right: 2.5rem;

        &:last-child {
            margin-right: 1rem;
        }

        img {
            @include image(contain, 3rem, 3rem);

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }

        &:hover {
            color: $background-button-hover_2;
        }
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 650px) {
    .footerMain {
        flex-direction: column !important;
    }

    .footerLegal {
        align-items: center;
    }

    .footerLegal a {
        margin: 0.5rem 0 !important;
    }

    img {
        height: 2rem !important;
        width: 2rem !important;
    }
}