@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.footerMain {
    height: 300px;
    border-top: 5px solid $bordercolor-footer;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footerLegal {
        display: flex;
        flex-direction: column;


    }

    a {
        margin-right: 2.5rem;

        &:last-child {
            margin-right: 1rem;
        }

        img {
            @include image(contain, 3rem, 3rem);

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}