@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

header {
    @include positionFixed(0, 0, unset, 0);
    background-color: $background-main;
    padding: 0 5rem;

    h4 {
        color: $fontcolor-main;
    }

    .headerLinks {
        @include containerPosition(space-between, center);
        height: 10vh;

        a {
            margin: 0 1rem;

            &:hover {
                color: $fontcolor-link-hover;
            }
        }

        img {
            @include image(cover, 2rem);
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 750px) {
    a {
        display: none;
    }

    img {
        display: block !important;
    }
}