@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

header {
    @include positionFixed(0, 0, unset, 0);
    background-color: $background-main;
    padding: 0 5rem;

    h4 {
        color: $fontcolor-main;
    }

    .headerLinks {
        @include containerPosition(space-between, center);
        height: 10vh;

        .desktopLinks {
            a {
                margin: 0 1rem;
                color: $fontcolor-main;

                &:hover {
                    color: $fontcolor-link-hover;
                }
            }
        }

        .link_color_active {
            color: $fontcolor-link-hover !important
        }

        img {
            @include image(cover, 2rem);
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .showMediaMenu {
        display: none;
    }

    .menu {
        .mediaLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                margin: 2vh 0;
            }
        }
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 
@media (min-width: 850px) {
    .menu {
        display: none;
    }
}

@media (max-width: 850px) {
    .desktopLinks a {
        display: none;
    }

    img {
        display: block !important;
    }
}

@media (max-width: 650px) {
    header {
        padding: 0 1rem;
    }

    .headerLinks {
        height: 6vh !important;
    }

    .desktopLinks img {
        height: 1.25rem !important;
        width: 1.25rem !important;
    }
}