@import "./../../../../generalSCSS/colors.scss";
@import "./../../../../generalSCSS/mixin.scss";
@import "./../../../../styles.scss";

.homeMain {
    padding-top: 10vh;

    .bg {
        width: 50%;
        position: absolute;
    }

    .wave {
        width: 100%;
        position: absolute;
        z-index: 1;
        top: 20vh;
    }

    .homeContent {
        display: flex;

        .profilPic {
            @include image(cover, 75vh);
            margin: 0 5rem 0 5rem;
            transform: scaleX(-1);
        }

        .homeSideContent {
            @include containerPosition(unset, center);
            margin: 0 1rem 5rem 1rem;
            z-index: 2;

            .headline {
                display: flex;

                .h3Rotate {
                    color: $fontcolor-main;
                    writing-mode: vertical-lr;
                    text-align: center;
                    transform: rotate(180deg);
                }
            }

            .contactButton {
                @include containerPosition(center);
            }
        }
    }

    .linkbar {
        @include containerPosition(unset, center);
        position: relative;
        z-index: 2;

        a {
            @include containerPosition(unset, center);
            margin-left: 2.5rem;

            &:last-child {
                margin-right: 1rem;
            }

            img {
                @include image(cover, 3rem, 3rem);

                &:hover {
                    transform: scale(1.2);
                    cursor: pointer
                }
            }

            &:hover {
                color: $background-button-hover_2;
            }
        }

        .bar {
            @include containerSize(0.2rem, 10rem);
            background-color: $bar_1;
        }
    }
}

//---------------------------------------------------------------//
//----------------------// Media Queries //----------------------//
//---------------------------------------------------------------//
@media (height > 2000px) {
    .profilPic {
        height: 75vw !important;
    }
}


@media (max-width: 1250px) {
    .profilPic {
        margin: 0 !important;
    }
}

@media (max-width: 1250px) {
    .profilPic {
        height: 70vw !important;
    }
}

@media (max-width: 650px) {
    .homeContent {
        align-items: center;
        flex-direction: column;
    }

    .profilPic {
        height: auto;
        width: 60vw;
    }

    .homeSideContent {
        margin-top: -60px;
    }

    .linkbar a img {
        height: 2rem !important;
        width: 2rem !important;
    }
}

@media (max-width: 500px) {
    .linkbar a {
        margin-left: 1rem !important;
    }

    .homeSideContent {
        margin-bottom: 0 !important;
    }
}