<div appInView id="home" class="homeMain">
    <img class="wave" src="./../../../../assets/img/wave-background.png">
    <img class="bg" src="./../../../../assets/img/bg-0.svg">
    <div class="homeContent">
        <img class="profilPic" src="./../../../assets/img/profile_pic0.png">
        <div class="homeSideContent">
            <div>
                <div class="headline">
                    <h3 class="h3Rotate">I am</h3>
                    <div>
                        <h1>Kevin Schimke</h1>
                        <h3>Frontend Developer</h3>
                    </div>
                </div>
                <div class="contactButton">
                    <a href="#contact" class="button-1">Contact Me !</a>
                </div>
            </div>
        </div>
    </div>
    <div class="linkbar">
        <div class="bar"></div>
        <a href="https://github.com/KevinSchimke"><img src="./../../../assets/img/github.png"></a>
        <a href="https://www.linkedin.com/in/kevin-schimke-b396a8233/"><img
                src="./../../../assets/img/linkedin.png"></a>
        <a href="mailto:kontakt@kevin-schimke.de">kontakt@kevin-schimke.de</a>
    </div>
</div>