@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.homeMain {
    padding-top: 10vh;

    .homeContent {
        display: flex;

        @media (max-width: 650px) {
            align-items: center;
            flex-direction: column;
        }

        .profilPic {
            object-fit: cover;
            height: 75vh;
            margin: 0 5rem 0 5rem;

            @media (max-width: 1150px) {
                margin: 0;
            }

            @media (max-width: 950px) {
                height: 70vw;
            }

            @media (max-width: 650px) {
                height: auto;
                width: 60vw;
            }
        }

        .homeSideContent {
            display: flex;
            align-items: center;
            margin-bottom: 5rem;

            @media (max-width: 650px) {
                margin-bottom: 0;
            }

            .headline {
                display: flex;

                .h3Rotate {
                    color: $fontcolor-main;
                    writing-mode: vertical-lr;
                    text-align: center;
                    transform: rotate(180deg);
                }
            }

            .contactButton {
                display: flex;
                justify-content: center;
            }
        }
    }

    .linkbar {
        display: flex;
        align-items: center;
        margin-top: 2rem;

        a {
            display: flex;
            align-items: center;
            margin-left: 2.5rem;

            @media (max-width: 500px) {
                margin-left: 1rem;
            }

            &:last-child {
                margin-right: 1rem;
            }

            img {
                filter: invert(1);
                object-fit: cover;
                height: 3rem;
                width: 3rem;

                &:hover {
                    transform: scale(1.2);
                }

                @media (max-width: 650px) {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .bar {
            height: 0.2rem;
            width: 10rem;
            background-color: $bar_1;
        }
    }
}