<div class='impressum'>
    <img src="./../../../assets/img/imprint.jpg">
    <div>
        <h2>Impressum</h2>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Kevin Schimke <br>
            Lunochodstraße 79<br>
            39118 Magdeburg <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Kevin Schimke<br>
        </p>
        <p><strong>Kontakt:</strong> <br>
            Telefon: 0174 2122443<br>
            E-Mail: <a href='mailto:kontakt@kevin-schimke.de'>kontakt@kevin-schimke.de</a>
        </p>
    </div>

</div>