<div appInView id="myProjects" class="myProjectsMain">
    <div class="headline">
        <div class="bar"></div>
        <div>
            <h2>My projects</h2>
            <span>This page is a sample of my work - please feel free to try then out</span>
        </div>
    </div>

    <div class="projectMain">
        <img src="./../../../assets/img/project_2.svg">
        <div class="projectContent">
            <h5>Join</h5>
            <span>Angular | TypeScript | Firebase | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid tenetur doloremque. Facere
                provident nam optio aliquam omnis fugiat ducimus inventore voluptas libero quo! Nemo et quibusdam quia
                excepturi quasi.</p>
            <div class="projectButtons">
                <div>
                    <a href="#" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="#" class="button-3">Github</a>
                </div>
            </div>
        </div>
    </div>

    <div class="projectMain mediaRotate">
        <div class="projectContent">
            <h5>Join</h5>
            <span>Angular | TypeScript | Firebase | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid tenetur doloremque. Facere
                provident nam optio aliquam omnis fugiat ducimus inventore voluptas libero quo! Nemo et quibusdam quia
                excepturi quasi.</p>
            <div class="projectButtons">
                <div>
                    <a href="#" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="#" class="button-3">Github</a>
                </div>
            </div>
        </div>
        <img src="./../../../assets/img/project_2.svg">
    </div>

    <div class="projectMain">
        <img src="./../../../assets/img/project_2.svg">
        <div class="projectContent">
            <h5>Join</h5>
            <span>Angular | TypeScript | Firebase | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur aliquid tenetur doloremque. Facere
                provident nam optio aliquam omnis fugiat ducimus inventore voluptas libero quo! Nemo et quibusdam quia
                excepturi quasi.</p>
            <div class="projectButtons">
                <div>
                    <a href="#" class="button-2">Try out!</a>
                </div>
                <div>
                    <a href="#" class="button-3">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>