@import "./../../../generalSCSS/colors.scss";
@import "./../../../generalSCSS/mixin.scss";
@import "./../../../styles.scss";

.myProjectsMain {


    .headline {
        position: relative;
        display: flex;
        align-items: center;

        .bar {
            height: 0.2rem;
            width: 15vw;
            margin-right: 2.5rem;
            background-color: $bar_1;
        }
    }



    .projectMain {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10rem 0;

        img {
            object-fit: cover;
            height: 300px;
        }



        .projectContent {
            width: 500px;
            // margin: 0 10rem;

            span {
                color: $fontcolor-sub;
                font-size: clamp(1rem, 0.852rem + 0.74vw, 1.5rem);
            }

            .projectButtons {
                display: flex;
                // justify-content: flex-end;

                div {
                    display: flex;

                    &:first-child {
                        margin-right: 5rem;
                    }
                }

            }
        }
    }
}

@media (max-width: 1100px) {
    .projectMain {
        flex-direction: column;
    }

    .mediaRotate {
        flex-direction: column-reverse !important;
    }

    .projectMain img {
        margin-bottom: 2rem;
    }

    .projectContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 850px) {
    .projectMain img {
        height: auto !important;
        width: 50vw !important;
    }
}

@media (max-width: 550px) {
    .projectContent {
        width: unset !important;
    }

    .projectMain {
        margin: 5rem 1rem !important;
    }
}