@import "./../../../../generalSCSS/colors.scss";
@import "./../../../../generalSCSS/mixin.scss";
@import "./../../../../styles.scss";

.aboutMeMain {
    @include containerPosition(space-between);
    position: relative;
    padding: 10rem 0 10rem 5rem;

    .aboutMeContent {
        width: 40%;
        z-index: 1;

        h2 {
            margin-bottom: 2rem;
        }

        div {
            @include containerPosition(center, center);
            margin-top: 2rem;

            p {
                width: 80%;
            }

            img {
                @include image(contain, 3rem, 3rem);
                padding: 3rem;
            }
        }
    }

    .aboutMeImg {
        @include containerPosition(center, center);

        img {
            @include image(cover, 30rem);
        }

        .bar {
            height: 0.2rem;
            width: 15vw;
            background-color: $bar_2;
        }
    }

    .bg1 {
        @include positionAbsolute(-12rem, 0, unset, unset);
        z-index: 0;
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 1350px) {
    .aboutMeContent {
        width: 60%;
    }

    .bar {
        width: 7vw;
    }

    .aboutMeImg img {
        height: 25rem !important;
    }
}

@media (max-width: 1150px) {
    .aboutMeImg img {
        height: 18rem;
    }
}

@media (max-width: 1000px) {
    .aboutMeMain {
        padding: 5rem;
    }

    .aboutMeContent {
        width: 90% !important;
    }

    .bar {
        display: none;
    }

    .aboutMeImg img {
        display: none;
    }
}

@media (max-width: 650px) {
    .aboutMeContent div {
        flex-direction: column !important;
    }

    .aboutMeContent div p {
        width: unset !important;
    }
}