<div appInView id="aboutMe" class="aboutMeMain">
    <div class="aboutMeContent">
        <h2>About me</h2>
        <p>"I am Kevin, a Frontend Developer. My passion for programming websites and
            applications started early on, as I made my first attempts with HTML and CSS.
            One of my first projects was a game information website during my school years.
            Programming also accompanied me during my job as an industrial mechanic,
            where I implemented, for example, a temperature monitoring system.</p>
        <div>
            <img src="./../../../assets/img/lamp.png">
            <p>Since then, I have continuously expanded my knowledge and successfully
                completed further education as a Frontend Developer at the Developer
                Academy. I now have comprehensive knowledge in various frontend
                technologies such as JavaScript and Angular. I am always looking for
                new challenges and opportunities to continue my development and
                improve my skills.</p>
        </div>
        <div>
            <img src="./../../../assets/img/puzzle.png">
            <p>Now I am ready for my first job as a Frontend Developer and I`m
                looking forward to bringing my knowledge and experience
                to exciting projects."</p>
        </div>
    </div>

    <div class="aboutMeImg">
        <img src="./../../../assets/img/profile_pic2.png">
        <div class="bar"></div>
    </div>

    <img class="bg1" src="./../../../assets/img/bg-1.svg">



</div>