@import "./../../../../generalSCSS/colors.scss";
@import "./../../../../generalSCSS/mixin.scss";
@import "./../../../../styles.scss";

.mySkillsMain {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 0 10rem 5rem;

    .skillIcons {
        width: 50%;
        z-index: 1;

        div {
            .singleIcon {
                @include containerPosition(unset, center, column)
            }

            @include containerPosition(space-around);

            img {
                @include image(cover, 4rem);
                margin: 3rem 3rem 1rem 3rem;
            }
        }
    }

    .mySkillsRight {
        @include containerPosition(unset, center);
        text-align: end;
        width: 40%;

        .contactButton {
            @include containerPosition(flex-end);
        }

        .bar {
            height: 0.2rem;
            width: 15vw;
            margin-left: 2.5rem;
            background-color: $bar_1;
        }
    }

    .bg1 {
        @include positionAbsolute(6rem, unset, unset, 0);
        z-index: 0;
    }
}

//---------------------------------------------------------------// 
//----------------------// Media Queries //----------------------// 
//---------------------------------------------------------------// 

@media (max-width: 1000px) {
    .singleIcon img {
        height: 3rem !important;
    }
}

@media (max-width:750px) {
    .mySkillsMain {
        flex-direction: column-reverse;
    }

    .mySkillsRight {
        width: 100% !important;
    }

    .skillIcons {
        width: unset !important;
        margin-right: 5rem;
    }

    .singleIcon img {
        margin: 1rem !important;
        height: 2.5rem !important;
    }


}

@media (max-width:650px) {
    .mySkillsMain {
        padding: 2.5rem 0 2.5rem 1rem;
    }

    .skillIcons {
        margin-right: 1rem;
    }

}